<div class="teacher-chat">
    <p>
        <span class="ion-ios-alarm-outline chat-icon"></span>
        <span class="chat-date">Today, <%=new Date().toLocaleTimeString()%></span>
    </p>
    <p class="chat-text">
        <span class="ion-android-hangout"></span>
        <span><%=chatMsg%></span>
    </p>
</div>